{%- if "prospectus" in nginx_default_sites -%}
  {%- set default_site = "default_server" -%}
{%- else -%}
  {%- set default_site = "" -%}
{%- endif -%}

map $uri $cs_whitelist {
  default 0;
  "/course/r-basics-2" 1;
}

map $uri $bz_whitelist {
  default 0;
  "/course/accounting-and-finance-0" 1;
  "/course/introductory-ap-microeconomics" 1;
}

server {
  # Prospectus configuration file for nginx, templated by ansible

  {% if NGINX_PROSPECTUS_PROXY_INTERCEPT_ERRORS %}
  proxy_intercept_errors on;
  {% endif %}

  listen {{ PROSPECTUS_NGINX_PORT }} {{ default_site }};

  root {{ PROSPECTUS_DATA_DIR }};

  # Ignore the rollout group headers for the health check endpoint.
  location /HealthCheck {
    try_files $uri $uri/index.html @backend;
  }

  location / {
    set $cs_control "0";
    if ($http_x_rollout_group ~ "cs_control") {
      set $cs_control "${cs_whitelist}:1";
    }

    if ($cs_control = "1:1") {
      proxy_pass {{ PROSPECTUS_PROXY_PASS }};
    }

    set $bz_control "0";
    if ($http_x_rollout_group ~ "bz_control") {
      set $bz_control "${bz_whitelist}:1";
    }

    if ($bz_control = "1:1") {
      proxy_pass {{ PROSPECTUS_PROXY_PASS }};
    }

    try_files $uri $uri/index.html @backend;
  }

  location @backend {
      proxy_pass {{ PROSPECTUS_PROXY_PASS }};
  }

}
